.label13 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
    .card13 {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    }

    .card13 div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .card13 .back13 {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        background-image:url(7dcf6ebe1e1b651130149bccd61db478.jpg);
        background-size: 300px 200px;
    }
    .card13 .front13 {
        background: #FFF;
        background-image:url(auction_card12.png);
        background-repeat: no-repeat;
        background-size: 300px 200px;
    }

    label:hover .card13 {
        -webkit-transform: rotateX(20deg);
        transform: rotateX(20deg);
        box-shadow: 0 20px 20px rgba(50,50,50,.2);
    }

    input {
        display: none;
    }

    :checked + .card13 {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
    }

    label:hover :checked + .card13 {
        transform: rotateX(160deg);
        -webkit-transform: rotateX(160deg);
        box-shadow: 0 20px 20px rgba(255,255,255,.2);
    }